{% extends 'base.html' %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function()
  {
    $('.chck').click(function()
    {
      var txt="";
      $('.chck:checked').each(function()
      {
        txt+=$(this).val()+","
      });
      $('#txtvalues').val(txt);
    });
  });
</script>
<script>
  $(document).ready(function()
  {
    $('.tick').click(function()
    {
      var txt="";
      $('.tick:checked').each(function()
      {
        txt+=$(this).val()+","
      });
      $('#boardvalue').val(txt);
    });
  });
</script>
<script>
  $(document).ready(function()
  {
    $('.gen').click(function()
    {
      var txt="";
      $('.gen:checked').each(function()
      {
        txt+=$(this).val()+","
      });
      $('#gendervalue').val(txt);
    });
  });
</script>


<nav class="navbar navbar-light">
  <div class="container-fluid justify-content-center">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link " href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/admission/">New Admission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fees/">Fees Pay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/allstudents/">All Students</a>
      </li>
    </ul>
  </div>
</nav>


<!-- Input Form -->

<div class="d-flex p-5 bg-secondary text-white justify-content-center"
  style="border-top-right-radius: 50px; border-top-left-radius: 50px">
  <form action="{% url 'saveform' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <div class="col-md-12 mb-2">

    <!-- Image Input -->
    <div class="row mb-4">
      <div class="form-group mb-4 col">
        <label for="exampleFormControlFile1">Image input</label>
        <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1">
      </div>
    </div>

    <!-- Select class -->
    <div class="row mb-4">
      <div class="form-check d-flex justify-content-center mb-4 col">
        <input class="chck" type="checkbox" value="11" id="form2Example3" checked="">
        <label class="form-check-label" for="form2Example3">
          11th
        </label>
      </div>

      <div class="form-check d-flex justify-content-center mb-4 col">
        <input class="chck" type="checkbox" value="12" id="form2Example3" checked="">
        <label class="form-check-label" for="form2Example3">
          12th
        </label>
      </div>
    </div>
    <hr/>

    <div>
    <input type="text" name="coursename" id="txtvalues"/>
    </div>
    <hr/>

    <!-- Board input -->
    <div class="row mb-4">
      <div class="form-check d-flex justify-content-center mb-4 col">
        <input class="tick" type="checkbox" name="board" value="CBSE" id="cbse">
        <label class="form-check-label" for="board">
          CBSE
        </label>
      </div>

      <div class="form-check d-flex justify-content-center mb-4 col">
        <input class="tick" type="checkbox" name="board" value="BSEB" id="bseb">
        <label class="form-check-label" for="board">
          BSEB
        </label>
      </div>
    </div>
    <div class="form-floating mb-4" style="width: 300px;">
    <input type="text" name="boardname" id="boardvalue"/>
    </div>
    <hr/>

    <!-- Name input -->
    <div class="form-floating mb-4" style="width: 300px;">
      <input type="name" class="form-control" name="name" id="name" placeholder="Full Name">
      <label class="text-dark" for="name">Name</label>
    </div>
    <hr/>
    
    <!--gender-->
    <div class="row mb-4">
      <div class="form-check d-flex justify-content-center mb-4 col">
        <input class="gen" type="checkbox" name="gender" value="Male" id="male">
        <label class="form-check-label" for="gender">
          Male
        </label>
      </div>
    
      <div class="form-check d-flex justify-content-center mb-4 col">
         <input class="gen" type="checkbox" name="gender" value="FEMALE" id="female">
          <label class="form-check-label" for="gender">
            Female
          </label>
       </div>
    </div>
    <div class="form-floating mb-4" style="width: 300px;">
    <input type="text" name="gender1" id="gendervalue"/>
    </div>
    <hr/>

    <!-- DOB -->
    <div class="row mb-4">
      <div class="form-floating input-group date" data-provide="datepicker">
        <input type="text" name="dob" class="form-control">
        <label class="text-dark" for="fname">DOB</label>
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>


    <!-- Father's Name input -->
    <div class="form-floating mb-4" style="width: 300px;">
      <input type="text" class="form-control" name="father" id="fname" placeholder="Father's Name">
      <label class="text-dark" for="fname">Father's Name</label>
    </div>



    <!-- phone input -->
    <div class="form-floating mb-4" style="width: 300px;">
      <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone">
      <label class="text-dark" for="phone">Phone</label>
    </div>

    <!-- Receipt No. input -->
    <div class="form-floating mb-4" style="width: 300px;">
      <input type="number" class="form-control" name="receipt_no" id="rid" placeholder="Receipt">
      <label class="text-dark" for="rid">Receipt Number</label>
    </div>

    <!-- Receipt Amount -->
    <div class="form-floating mb-4" style="width: 300px;">
      <input type="Number" class="form-control" name="receipt_amt" id="ramt" placeholder="Receipt Amount">
      <label class="text-dark" for="ramt">Receipt Amount</label>
    </div>

    <!-- comment -->
    <div class="form-floating mb-4">
      <textarea class="form-control" name="comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label class="text-dark" for="floatingTextarea">Comments</label>
    </div>

    <!-- Submit button -->
    <div class="text-center">
      <button id="but1" type="submit" class="btn btn-primary btn-block mb-4">
        Admit
      </button>
    </div>

</div>

</form>
</div>

{% endblock %}