.navbar-light{
    background-color: #E1BEE7;
}

.background{
  background-color: #E1BEE7;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Date Picker*/
.input-group-append {
  cursor: pointer;
}

